# required
PDS_HOSTNAME=""
PDS_ADMIN_PASSWORD=""
PDS_BSKY_APP_VIEW_URL="https://api.bsky.app"
PDS_DATA_DIRECTORY="/pds/data"

# optional
PDS_PRIVACY_POLICY_URL=""
PDS_TERMS_OF_SERVICE_URL=""
PDS_CONTACT_EMAIL_ADDRESS=""
